* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 0;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffcb76;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbarR {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbarR a {
    margin: 0 10px;
    font-weight: bold;
}

.navbarR i {
    margin-left: 15px;
    cursor: pointer;
    color: #000;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .navbar a, .navbarR a {
        margin: 5px 0;
    }

    .navbarR {
        flex-direction: column;
        align-items: flex-start;
    }
}