* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 0;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffcb76;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbarR {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbarR a {
    margin: 0 10px;
    font-weight: bold;
}

.navbarR i {
    margin-left: 15px;
    cursor: pointer;
    color: #000;
}

@media screen and (max-width: 500px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .navbar a, .navbarR a {
        margin: 5px 0;
    }

    .navbarR {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Add styles for the loading screen */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Set your desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it's on top of other content */
}

.loading-animation {
    /* Customize your loading animation here */
    width: 50px;
    height: 50px;
    border: 4px solid #333; /* Set your desired color */
    border-top: 4px solid #f8a623; /* Set a different color for animation */
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

/* Hide the loading screen when content is loaded */
body.loaded .loading-screen {
    display: none;
}